html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/material-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

.pile {
    position: relative;
}

.pile-card {
    margin-left: auto;
    margin-right: auto;
}

.pickable {
    -webkit-box-shadow: 0px 0px 10px 10px rgba(102,255,167,0.75);
    -moz-box-shadow: 0px 0px 10px 10px rgba(102,255,167,0.75);
    box-shadow: 0px 0px 10px 10px rgba(102,255,167,0.75);
}

.pickable-by-me {
    cursor: pointer;
    transition: transform .3s;
}

.card {
    border-radius: 5%;
    cursor: pointer;
}

.card-back {
    border-radius: 5%;
}

.pickable-by-me:hover {
    transform: scale(1.05);
}

.zoom-view {
    max-width: 600px;
    z-index: 2000;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
}

.picker-modal {
    overflow: visible;
}

.modal-cards {
    padding: 2em;
}

.modal-content {
    width: 95% !important;
}

.modal-card {
    border-radius: 5%;
    transition: transform .3s;
    margin: 0 auto;
    max-width: 320px;
}

.no-padding {
    padding: 0px;
}

.modal-card:hover {
    transform: scale(1.05);
    z-index: 1000;
}

.modal-buttons{
    padding-bottom: 2em;
}

.pick{
    transition: transform .2s;
    transform-origin: top center;
}

.picks-container {
    padding-top: 6em;
    padding-bottom: 20em;
}

.picks {
    position: relative;
}

.pick:hover {
    transform: scale(1.05);
    z-index: 2;
}

.hidden {
    visibility: hidden;
}

.count-label h4 {
    margin-bottom: 0;
}

#copy-button {
    margin-left: 1em;
}
